@model BugTrackerApplication.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Details</h4>
            </div>
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href="#">Dashboard</a></li>
                    <li class="active">Details</li>
                </ol>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <div>
                        <h4>Ticket</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Assignee.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Assignee.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Creator.Name)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Creator.Name)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TicketPriority.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketPriority.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TicketStatus.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketStatus.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.TicketType.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.TicketType.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Title)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Title)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Description)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Description)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Created)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Created)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Updated)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Updated)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.ProjectId)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.ProjectId)
                            </dd>
                        </dl>
                    </div>

                    @if (User.Identity.IsAuthenticated)
                    {
                        <label>
                            Submit your comment!
                        </label>
                        <div>
                            @using (Html.BeginForm("CreateComment", "Tickets", new { id = Model.Id }, FormMethod.Post))
                            {
                                <input type="hidden" name="comment" value="@Model.Id" />
                                <textarea name="body"></textarea>
                                <br />
                                <input type="submit" value="Submit" />
                            }
                        </div>
                    }
                    <div>
                        <label>Comments:</label>
                        @foreach (var comment in Model.Comments)
                        {
                            <p>
                                @comment.Comment
                            </p>
                            <p> - by @comment.User.FirstName <br />- @comment.Created.ToString("dd/MM/yyyy HH:mm")</p><hr />
                        }
                    </div>

                    <label>Upload document</label>
                    <div>
                        @using (Html.BeginForm("CreateAttachment", "Tickets", new { id = Model.Id }, FormMethod.Post, new { enctype = "Multipart/form-data" }))

                        {
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="comment" />

                            <input type="file" name="image" id="file" /><br />
                            <label>Description</label><br />
                            <textarea name="Description"></textarea>
                            <br />
                            <input type="submit" value="Submit" />

                        }
                        <div>
                            <p> <label>Uploads</label></p>
                            @foreach (var upload in Model.Attachments)
                            {
                                <a href="@upload.FilePath">
                                    @upload.FilePath
                                </a>
                                <p>@upload.Description</p>

                                <p> - by @upload.User.FirstName <br />- @upload.Created.ToString("dd/MM/yyyy HH:mm")</p><hr />
                            }
                        </div>
                    </div>
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th>
                                    New Value
                                </th>
                                <th>
                                    Old Value
                                </th>
                                <th>
                                    Property
                                </th>


                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Histories)
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NewValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OldValue)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Property)
                                    </td>

                                </tr>

                            }
                        </tbody>
                    </table>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
    <footer class="footer text-center"> 2017 &copy; Ample Admin brought to you by wrappixel.com </footer>
</div>
